@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&display=swap");

body {
    background-color: #ccffcc; /* Light green color */
    font-family: 'Exo 2', sans-serif;
}
.renewable-residence {
    position: absolute;
    left: 0;
    top: 0;
}
.dropdownContainer {
    position: absolute;
    top: 100%; /* Align the top of the dropdown with the bottom of the button */
    left: 50%; /* Center horizontally */
    transform: translateX(-142%); /* Center horizontally */
    min-width: 160px; /* Adjust width as necessary */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* To make sure the dropdown appears on top of other elements */
  }
  .dropdownMenu {
    position: absolute; /* Use absolute positioning */
    top: 100%; /* Align the top of the dropdown with the bottom of the button */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    min-width: 160px; /* Adjust width as necessary */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* To make sure the dropdown appears on top of other elements */
  }
  .navbar-bg-light-green {
    background-color: #ccffcc; /* Light green color */
}
